canvas {
	border: 1px solid gray;
	background-color: white;
}

textarea {
	border: 1px solid gray;
	width: 302px;
	height: 152px;
	resize: none;
}

table {
	border-collapse: collapse;
	border: 1px solid black;
	cursor: crosshair;
	background-color: white;
}

table:active {
	cursor: crosshair;
}

table td {
	width: 10px;
	height: 10px;
	border: 1px dashed black;
}

.row {
	padding: 10px 0;
}

.brush-btn-box {
	width: 100%;
}
