canvas {
	border: 1px solid gray;
}

textarea {
	border: 1px solid gray;
	width: 296px;
	height: 146px;
	resize: none;
}

small {
	font-size: 50%;
}

table {
	border-collapse: collapse;
	border: 1px solid black;
}

table td {
	width: 10px;
	height: 10px;
	border: 1px dashed black;
}

.top-banner {
	background-color: red;
	left: 0;
	top: 0;
	width: 100%;
	text-align: center;
	position: absolute;
}

.back-button {
	position: absolute;
	right: 10px;
}
